.fact{
    font-style:italic;
}

.list-items{
    font-weight:bold;
}

.list{
    list-style-type:none;
}

.info{
    border:solid magenta;
    padding:10px;
    margin:10px 0 0 0;
}

.img{
    margin:10px 0 0 0;
}

.head{
    font:30px Impact, fantasy;
}

.card{
    width:300px;
    border:5px solid yellowgreen;
    display:flex;
    flex-direction: column;
    padding: 20px;
}

